In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
pip install pandas

Requirement already satisfied: pandas in /home/leandroclv/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/leandroclv/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/leandroclv/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/leandroclv/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/leandroclv/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/leandroclv/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext autoreload
%autoreload 2

In [6]:
#Criando um dicionário
dados = {'Estado': ['Santa Catarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'], 'Ano': [2004,2005,2006,2007,2008], 'Taxa Desemprego': [1.5,1.7,1.6,2.4,2.7]}

In [7]:
#Immportar a função DataFrame do Pandas
from pandas import DataFrame

In [8]:
#Converte o dicionário em um dataframe
df = DataFrame(dados)

In [9]:
#Visualizar as 5 primeiras linhas
df.head()

           Estado   Ano  Taxa Desemprego
0  Santa Catarina  2004              1.5
1  Rio de Janeiro  2005              1.7
2       Tocantins  2006              1.6
3           Bahia  2007              2.4
4    Minas Gerais  2008              2.7

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
#Reorganizando as colunas
DataFrame(dados, columns = ['Estado', 'Taxa Desemprego', 'Ano'])

           Estado  Taxa Desemprego   Ano
0  Santa Catarina              1.5  2004
1  Rio de Janeiro              1.7  2005
2       Tocantins              1.6  2006
3           Bahia              2.4  2007
4    Minas Gerais              2.7  2008

In [ ]:
#Criando outro dataframe com os mesmo dados anteriores mas adicionando uma coluna